<div class="root"
	 style="width: @(Width);
			height:@(Height);">
	<div class="head"
		 style="padding: @(HeadPadding);
				border-bottom: @(HeadBorderBottom);">
		@Head
	</div>
	<div class="body"
		 style="grid-template-columns: @(BodyGridTemplateColumns);
				padding: @(BodyPadding);
				grid-column-gap: @(BodyColumnGap);
				grid-row-gap: @(BodyRowGap);
				align-content: @BodyAlignContent;
				align-items: @BodyAlignItems;
				justify-content: @BodyJustifyContent;
				justify-items: @BodyJustifyItems;
				overflow: @(BodyOverflow);">
		@Body
	</div>
	<div class="foot"
		 style="padding: @FootPadding;">
		@Foot
	</div>
</div>