@using System.IO.Ports

<BreathingBorderBox>
	<FormTable HeadPadding="10px"
			   BodyPadding="10px"
			   FootPadding="10px">
		<Head>
			串口配置
		</Head>
		<Body>
			<div>选择端口：</div>
			<div>
				<select @bind="_serial_port_options.PortName">
					@foreach (string name in PortNames)
					{
						<option value="@(name)">@(name)</option>
					}
				</select>
			</div>

			<div>波特率：</div>
			<div>
				<input @bind="BaudRateString" list="@($"baudrate_data_list_{GetHashCode()}")" />
				<datalist id="@($"baudrate_data_list_{GetHashCode()}")">
					<option>115200</option>
					<option>9600</option>
				</datalist>
			</div>

			<div>校验：</div>
			<div>
				<select @bind="_serial_port_options.Parity">
					<option value="@(Parity.Even)">偶校验</option>
					<option value="@(Parity.Odd)">奇校验</option>
					<option value="@(Parity.None)">无</option>
				</select>
			</div>

			<div>
				停止位：
			</div>
			<div>
				<select @bind="_serial_port_options.StopBits">
					<option value="@(StopBits.One)">1 位</option>
					<option value="@(StopBits.Two)">2 位</option>
				</select>
			</div>
		</Body>
		<Foot>
			<STButton disabled="@(_connect_lock.CurrentCount==0)" @onclick="OnConnectButtonClickAsync">连接</STButton>
		</Foot>
	</FormTable>
</BreathingBorderBox>
