<div class="root"
	 style="width: @(Width);
			height: @(Height);
			padding:@(Padding);
			grid-template-columns: repeat(@(ColumnCount), max-content);
			grid-column-gap: @(Gap);
			justify-content: @(JustifyContent);
			justify-items: @(JustifyItems);
			overflow: @(Overflow);">

	@ChildContent
</div>
